/*********************************************************************************************************************************** General */
.wrap *, .wrap :after, .wrap  :before {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
.wrap a:focus {
	-webkit-box-shadow: none;
			box-shadow: none;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
	clear: both;
}


.wp_social_row {
	display: block;
	float: left;
	width: 50%;
	padding-right: 50px;
}
.wp_social_row label {
	display: inline-block;
	margin-bottom: 3px;
	font-weight: bold;
}
input.wp_social_field {
	display: block;
	width: 100%;
	min-width: 300px;
}
.wp_social_row_radio {
	padding-top: 5px;
}
.wp_social_row_radio label {
	font-weight: normal;
	margin-right: 20px;
}


.wp_social_block {
	margin-bottom: 20px;
}

.wp_social_bg {
	background: #ffffff;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
			box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.wp_social_block_title {
	padding: 10px 15px 10px 40px;
	font-size: 14px;
    font-weight: bold;
    background-color: #e4e4e4;
	background-repeat: no-repeat;
	background-position: 7px 50%;
}

.wp_social_block_title_phone {
	background-image: url("../images/phone.png");
}
.wp_social_block_title_email {
	background-image: url("../images/email.png");
}
.wp_social_block_title_fb {
	background-image: url("../images/fb.png");
}
.wp_social_block_title_ig {
	background-image: url("../images/ig.jpg");
}
.wp_social_block_title_tw {
	background-image: url("../images/tw.png");
}
.wp_social_block_title_in {
	background-image: url("../images/in.png");
}
.wp_social_block_title_yt {
	background-image: url("../images/yt.png");
}
.wp_social_block_title_gp {
	background-image: url("../images/gp.png");
}

.wp_social_block_content {
	padding: 15px;
}


input.wp_social_save_button {
	padding: 0px 40px !important;
	margin-top: 5px !important;
}

